img {
    border-radius: 1em;
    width: 100%;
    opacity: 0.5;
}

h3 {
    font-weight: 500;
    font-size: 20px;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.card-content {
    position: relative;
    text-align: center;
    color: white;
}

.text-centered {
    position: absolute;
    top: 50%;
    margin: 0px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.transparent-layer {
    background-color: rgba(256, 256, 256, 0.5);
    border-radius: 1em;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 95%;
}

.rounded_checked {
    color: #BA135A;
    position: absolute;
    top: 10%;
    margin: 0px;
    right: 5%;
    height: 1em;
    width: 1em;
}