<div class="card-content" (click)="clickActive()">
    <img class="no-resize" [src]="image">
    <div class="transparent-layer" *ngIf="isActive">
        <i class="rounded_checked fas fa-check-circle"></i>
    </div>
    <!-- img class="rounded_checked" src="./assets/rounded_checked.png" -->
    <h3 class="text-centered">{{ title }}</h3>
</div>