.btn_facebook {
    background-color: #486DC0 !important;
    color: white;
    border-radius: 25px;
}

.btn_twitter {
    background-color: #1DA1F2;
    color: white;
    border-radius: 25px;
}

// Needs latest Compass, add '@import "compass"' to your scss
// Permalink - use to edit and share this gradient:
// http://colorzilla.com/gradient-editor/#dd166b+0,db166d+51,2989d8+100,722fd9+100
.logo {
    margin: 30px;
    height: 97px;
}

.top-section {
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.second-section {
    min-height: 100vh;
    width: 100%;
    margin: 0 auto;
    .content {
        width: 100%;
        min-height: 100vh;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
        z-index: 1;
    }
}

.login {
    h1 {
        font-size: 64px;
        margin-bottom: 0px;
    }
    a,
    h5,
    p {
        font-size: 25px;
    }
    a {
        text-decoration: underline;
    }
}


/*
background: -moz-linear-gradient(top, #dd166b 0%, #db166d 51%, #2989d8 100%, #722fd9 100%);
background: -webkit-linear-gradient(top, #dd166b 0%, #db166d 51%, #2989d8 100%, #722fd9 100%);
background: linear-gradient(to bottom, #dd166b 0%, #db166d 51%, #2989d8 100%, #722fd9 100%);

*/