<section class="login">
    <div class="top-section" style=" background-image: url('./assets/background_1.png');">
        <div class="row">
            <div class="col-xs-12">
                <img class="logo" src="/assets/logo.png">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h1 class="align-center uppercase">The House of music.</h1>
                <p class="align-center">Play and download music on your mobile, tablet and computer.</p>
                <div class="item-center wd-wide">
                    <button mdc-button [raised]="true" class="mr-sm btn_facebook capitalize mr-lg" (click)="tryGoogleLogin()">
                            <i class="fab fa-facebook-f mr-sm"></i>
                        Facebook</button>
                    <button mdc-button [raised]="true" class="btn_twitter capitalize" (click)="tryTwitterLogin()">
                            <i class="fab fa-twitter mr-sm"></i>
                            Twitter</button>
                </div>
                <h5 class="align-center">- OR -</h5>
                <div class="item-center">
                    <a>Try without logging in</a>
                </div>

            </div>
        </div>
    </div>
    <div class="second-section" style="background-image: url('./assets/background_landing2.png');">
        <div class="content">
            <div>
                <h1 class="align-center uppercase">Lorem ipsum dolor sit amet.</h1>
                <p class="item-right m0">Play and download music on your mobile, tablet and computer.</p>
            </div>
        </div>

    </div>

</section>