.sh-container {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.home-content {
    padding: 1em;
    width: 100%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#bb135b+0,000000+100&1+1,0.9+100 */
    background: -moz-linear-gradient(top, rgba(187, 19, 91, 1) 0%, rgba(185, 19, 90, 1) 1%, rgba(0, 0, 0, 0.9) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(187, 19, 91, 1) 0%, rgba(185, 19, 90, 1) 1%, rgba(0, 0, 0, 0.9) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(187, 19, 91, 1) 0%, rgba(185, 19, 90, 1) 1%, rgba(0, 0, 0, 0.9) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}