//
// Utilities classes to simplify
// components constructions
// ------------------------------
$margin-base: 10px;
$margin-sm: 5px;
$margin-lg: 15px;
$margin-xl: 30px;
$padding-xl: 30px;
$padding-lg: 15px;
$padding-base: 10px;
$padding-sm: 5px;
$text-alpha: rgba(255, 255, 255, .5);
$text-alpha-inverse: rgba(0, 0, 0, .5);
$text-sm: $font-size-base * .85;
$text-md: $font-size-base * 1.9;
$text-lg: $font-size-base * 3;
$border-color: rgba(58, 37, 37, 0.12);
$wd-xxs: 60px;
$wd-xs: 90px;
$wd-sm: 150px;
$wd-sd: 200px; // sd == standard
$wd-md: 240px;
$wd-lg: 280px;
$wd-xl: 320px;
$wd-xxl: 360px;
$wd-wide: 100%;
$wd-auto: auto;
$wd-zero: 0;
$h-xxs: 60px;
$h-xs: 90px;
$h-sm: 150px;