$font-size-base: 14px;
// --------------------------------------------------
//== Colors
//
//## Gray and brand colors for use across Bootstrap.
// Redefined Gray colors for theme
$gray-darker: #232735;
$gray-dark: #3a3f51;
$gray: #dde6e9;
$gray-light: #e4eaec;
$gray-lighter: #edf1f2;
// Classic brand colors
$brand-primary: $mdc-theme-primary;
$brand-success: #27c24c;
$brand-info: #23b7e5;
$brand-warning: #ff902b;
$brand-danger: #f05050;
// New brand colors
$brand-inverse: #131e26;
$brand-green: #37bc9b;
$brand-pink: #f532e5;
$brand-purple: #7266ba;
$brand-dark: #3a3f51;
$brand-yellow: #fad732;
$brand-petroleo: #01454f;
// Brand color Variants
$amountOfLight: 10%;
$brand-primary-light: lighten($brand-primary, $amountOfLight);
$brand-success-light: lighten($brand-success, $amountOfLight);
$brand-info-light: lighten($brand-info, $amountOfLight);
$brand-warning-light: lighten($brand-warning, $amountOfLight);
$brand-danger-light: lighten($brand-danger, $amountOfLight);
$brand-inverse-light: lighten($brand-inverse, $amountOfLight);
$brand-green-light: lighten($brand-green, $amountOfLight);
$brand-pink-light: lighten($brand-pink, $amountOfLight);
$brand-purple-light: lighten($brand-purple, $amountOfLight);
$brand-dark-light: lighten($brand-dark, $amountOfLight);
$brand-yellow-light: lighten($brand-yellow, $amountOfLight);
$brand-petroleo-light: lighten($brand-petroleo, $amountOfLight);
$brand-primary-dark: darken($brand-primary, $amountOfLight);
$brand-success-dark: darken($brand-success, $amountOfLight);
$brand-info-dark: darken($brand-info, $amountOfLight);
$brand-warning-dark: darken($brand-warning, $amountOfLight);
$brand-danger-dark: darken($brand-danger, $amountOfLight);
$brand-inverse-dark: darken($brand-inverse, $amountOfLight);
$brand-green-dark: darken($brand-green, $amountOfLight);
$brand-pink-dark: darken($brand-pink, $amountOfLight);
$brand-purple-dark: darken($brand-purple, $amountOfLight);
$brand-dark-dark: darken($brand-dark, $amountOfLight);
$brand-yellow-dark: darken($brand-yellow, $amountOfLight);
$brand-petroleo-dark: darken($brand-petroleo, $amountOfLight);
//== Scaffolding
//
//## Settings for some of the most global styles.
//** Background color for `<body>`.
$body-bg: #f5f7fa;
//** Global text color on `<body>`.
$text-color: white;
//** Global textual link color.
$link-color: $brand-primary;
//** Link hover color set via `darken()` function.
$link-hover-color: darken($link-color, 15%);
//** Link hover decoration.
$link-hover-decoration: underline;
$colors: ( 'primary-light': $brand-primary-light, 'primary': $brand-primary, 'primary-dark': $brand-primary-dark, 'success-light': $brand-success-light, 'success': $brand-success, 'success-dark': $brand-success-dark, 'info-light': $brand-info-light, 'info': $brand-info, 'info-dark': $brand-info-dark, 'warning-light': $brand-warning-light, 'warning': $brand-warning, 'warning-dark': $brand-warning-dark, 'danger-light': $brand-danger-light, 'danger': $brand-danger, 'danger-dark': $brand-danger-dark, 'green-light': $brand-green-light, 'green': $brand-green, 'green-dark': $brand-green-dark, 'pink-light': $brand-pink-light, 'pink': $brand-pink, 'pink-dark': $brand-pink-dark, 'purple-light': $brand-purple-light, 'purple': $brand-purple, 'purple-dark': $brand-purple-dark, 'inverse-light': $brand-inverse-light, 'inverse': $brand-inverse, 'inverse-dark': $brand-inverse-dark, 'yellow-light': $brand-yellow-light, 'yellow': $brand-yellow, 'yellow-dark': $brand-yellow-dark, );
@function color($key) {
    @return map-get($colors, $key);
}

@mixin bgcolor-variant($bgcolor, $text-color: #fff) {
    $amountOfLight: 10%;
    & {
        background-color: color($bgcolor);
        color: $text-color !important;
    }
    &-light {
        $col: color($bgcolor + '-light');
        background-color: #{$col};
        color: $text-color !important;
    }
    &-dark {
        $col: color($bgcolor + '-dark');
        background-color: #{$col};
        color: $text-color !important;
    }
    small {
        color: inherit;
    }
}

@mixin make-bg($bgcolor, $text-color: #fff) {
    background-color: $bgcolor !important;
    color: $text-color !important;
}

// Common thumbnail sizes (ideal for images)
@mixin thumnbail-size($sz: 8px) {
    width: $sz !important;
    height: $sz !important;
}