<mdc-drawer drawer="permanent" #demoPermanent>
    <mdc-drawer-header class="item-center">
        <img class="logo h-xs" src="/assets/logo.png">
    </mdc-drawer-header>
    <mdc-drawer-content>
        <div class="p-lg">
            <mdc-text-field label="search" fullwidth></mdc-text-field>
        </div>
        <ul class="sh-list">
            <li>
                <a routerLink="/home/welcome" routerLinkActive="active">Home</a>
            </li>
            <li>
                <a routerLink="/home/browse" routerLinkActive="active">Browse</a>
            </li>
            <li>
                <h3 class="mb0">Your Music</h3>
            </li>
            <li>
                <a routerLink="/home/songs" routerLinkActive="active">My Songs</a>
            </li>
            <li>
                <a routerLink="/home/artist" routerLinkActive="active">Artist</a>
            </li>
            <li>
                <h3 class="mb0">Playlist</h3>
            </li>
            <li>
                <a>+ Create a playlist</a>
            </li>
        </ul>
        <!--mdc-list class="mt-xl mdc-list--mdc-theme-on-secondary" useActivatedClass>
            <a mdc-list-item class="text-white" routerLink="/home/welcome">
                Home
            </a>
            <a mdc-list-item class="text-white" routerLink="/home/browse">
                Browse
            </a>
            <h6 mdcListGroupSubheader class="text-white"> Your Music</h6>
            <a mdc-list-item class="text-white" routerLink="/home/songs">
                My Songs
            </a>
            <a mdc-list-item class="text-white" routerLink="/home/artist">
                Artist
            </a>
            <h6 mdcListGroupSubheader class="text-white">Playlist</h6>
            <a mdc-list-item class="text-white">
            + Create a playlist
            </a>
        </mdc-list -->
    </mdc-drawer-content>
</mdc-drawer>