.mdc-drawer {
    background-color: #252525;
    box-shadow: -2px 4px 5px -2px rgba(0, 0, 0, 0.2), 0px 7px 10px 1px rgba(0, 0, 0, 0.14), 0px 2px 16px 1px rgba(0, 0, 0, 0.12);
}

.sidebar {
    color: white;
    ul {
        text-decoration: none;
    }
}

.logo {
    margin-top: 3em;
}

.sh-list {
    list-style-type: none;
    padding: 0px;
    font-size: 14px;
    a,
    h3 {
        text-decoration: none;
        color: white;
        display: block;
        padding: 1em;
        padding-left: 1.5em;
        height: 1em;
    }
    a {
        cursor: pointer;
    }
    .active {
        background-color: black;
    }
}