<section class="page">
    <div class="header">
        <h1>Welcome, {{ userName }}</h1>
        <p>Select genres of your intereset
            <a class="float-right" href="" (click)="savePreferences()">
                <span *ngIf="genresSelected.length == 0">Skip >></span>
                <span *ngIf="genresSelected.length > 0">Continue >></span>
            </a>
        </p>
    </div>
    <div class="content">
        <div *ngFor="let item of genresList">
            <app-card [title]="item.name" [image]="item.image" (activeChanged)="onActiveChanged($event)"></app-card>
        </div>
    </div>
</section>