/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500');
$mdc-theme-primary: #F35454;
$mdc-theme-secondary: #FFDE03; // secondary color
@import "~@angular-mdc/theme/material";
@import "styles/variables";
@import "styles/grid";
@import "styles/utils-definitions";
@import "styles/utils";
html,
body {
    width: 100%;
    height: 100%;
    color: white;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}

.text-regular {
    font-weight: 400;
}

.text-medium {
    font-weight: 500;
}

.page {
    .header {
        margin-top: 3.5em;
        margin-bottom: 1.5em;
        h1 {
            margin: 0px;
            font-weight: 400;
            font-size: 40px;
        }
        p {
            margin: 0px;
            font-weight: 400;
            font-size: 20px;
        }
    }
}