<section class="page">
    <div class="header">
        <h1>The Killers Radio</h1>
    </div>
    <div class="content">
        <div class="tabs">
            <mdc-tab-bar [activeTabIndex]="1" fixed align=start>
                <mdc-tab-scroller>
                    <mdc-tab label="Show All"></mdc-tab>
                    <mdc-tab label="Solo Audio"></mdc-tab>
                    <mdc-tab label="Solo Lyrics"></mdc-tab>
                </mdc-tab-scroller>
            </mdc-tab-bar>
        </div>
        <table>
            <tbody>
                <tr *ngFor="let video of videos">
                    <td>
                        <img class="thumbnails" [src]="video.snippet.thumbnails.default.url"></td>
                    <td>
                        <i class="far fa-heart"></i>
                        <i class="fas fa-ellipsis-v" (click)="addToMySongs(video)"></i>

                    </td>
                    <td class="title">
                        {{ video.snippet.title }}
                    </td>
                    <td class="album">
                        {{ video.snippet.channelTitle }}
                    </td>
                    <td class="item-center">
                        <i class="fas fa-microphone pull-right"></i>
                    </td>
                    <td class="time">
                        3:45
                    </td>
                </tr>
                <tr>
                    <td><img src="./assets/album.png"></td>
                    <td>
                        <i class="far fa-heart"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </td>
                    <td class="title">
                        Lorem ipsum
                    </td>
                    <td class="album">
                        Lotherm ipusum
                    </td>
                    <td class="item-center">
                        <i class="fas fa-microphone pull-right"></i>
                    </td>
                    <td class="time">
                        3:45
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>